header{
  width: 75vw;
  margin: 25px auto;
}
main{
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
body{
  background-color: mintcream;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Zen Dots', monospace;
}
p, a, ul li, ol li{
  font-family: 'Roboto', sans-serif;
  size: 16px;
}
.col{
  width: 50%;
  float: left;
}
@media screen and (max-width: 900px) {
  .col{
    width: 100%;
    margin-bottom: 30px;
  }
}
