/**

selector {
property: value;
}
**/

body {
background-color: #777777;
}

h1 {
  color: #220000;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #550000;
}

p {
  color: black;
  font-size: 21px;
}

ul{
  color: black;
  font-size: 19px;
}

a {
  color: #770000;
}
a:hover {
  color: #dd0000;
}
