body{
  background-color: black;
  margin-left: 30px;
}
h1, h2, h3, h4, h5, h6, p{
  color: white;
}

h1{
  font-family: 'Major Mono Display', monospace;
}
h2, h3{
  font-family: 'Megrim', cursive;
}
h4, h5, h6{
  font-family: 'Press Start 2P', monospace;
}
p{
  font-size: 18px;
  font-family: 'Roboto';
}
a{
  font-family: 'Roboto', sans-serif;
}
a:link{
  color: deeppink;
}
a:active{
 color: magenta;
}
a:hover{
  color: cyan;
}
a:visited{
  color: mediumvioletred;
}

/**
Fonts

VT323
Nova Mono

**/
