#arx .triangle{
  width: 0;
  height: 0;
  border-width: 140px;
  border-style: solid;
  border-bottom-color: magenta;
  transform: skewX(-30deg) skewY(10deg) rotate(-25deg);
  position: relative;
  top: -100px;
  left: 50px;
  float: left;
  margin-left: 60px;
}
#arx .trihollow{
  position: relative;
  top: -124px;
  left: -129px;
  width: 0;
  height: 0;
  border-width: 130px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: black;
  float: inherit;
}
#arx .circle{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: cyan;
  float: left;
  margin-left: 90px;
  margin-top: 160px;
}
#arx .wedge{
  position: relative;
  left: -13px;
  bottom: 30px;
  height: 0;
  width: 0;
  border-width: 70px;
  border-style: solid;
  border-color: transparent;
  border-top-color: yellow;
  float: inherit;
  transform: rotate(25deg) scaleX(40%);
}
#arx .diamond{
  width: 50px;
  height: 50px;
  background-color: yellow;
  float: left;
  position: relative;
  top: 50px;
  left: 50px;
  transform: rotate(180deg) skew(20deg, 20deg);
}
#lem .circle{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: lemonchiffon;
  margin-top: 100px;
  margin-left: 80px;
  margin-bottom: 50px;
  float: left;
}
#lem .bubble{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: pink;
  float: left;
  position: relative;
  left: 290px;
  top: -40px;
}
#lem .fizz1{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  background-color: gold;
  float: left;
  position: relative;
  left: 300px;
  top: 150px;
}
#lem .fizz2{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  background-color: peachpuff;
  float: left;
  position: relative;
  left: 350px;
}
#lem .push{
  position: relative;
  left: 400px;
}
#giga .beep1{
  background-image: linear-gradient(to bottom right, violet, orchid, mediumorchid, darkmagenta);
  height: 150px;
  width: 150px;
  border-radius: 60%;
  margin: 10px;
  float: left;
  border-style: solid;
  border-color: mintcream;
}
#giga .beep2{
  background-image: linear-gradient(to bottom left, mintcream, lightcyan, aquamarine);
  height: 150px;
  width: 150px;
  border-radius: 60%;
  margin: 10px;
  margin-top: 80px;
  float: left;
  border-style: solid;
  border-color: violet;
}
#tile .square1{
  height: 50px;
  width: 50px;
  border-style: outset;
  border-width: 10px;
  margin: 5px;
  float: left;
  border-color: aquamarine;
  background-color: mediumaquamarine;
}
#tile .square2{
  height: 50px;
  width: 50px;
  border-style: outset;
  border-width: 10px;
  margin: 5px;
  float: left;
  border-color: mediumslateblue;
  background-color: slateblue;
}
#tile .square3{
  height: 50px;
  width: 50px;
  border-style: outset;
  border-width: 10px;
  margin: 5px;
  float: left;
  border-color: palevioletred;
  background-color: mediumvioletred;
}
#tile .square4{
  height: 50px;
  width: 50px;
  border-style: outset;
  border-width: 10px;
  margin: 5px;
  float: left;
  border-color: darkkhaki;
  background-color: olive;
}
#psy .stripe{
  height: 2000px;
  width: 2%;
  background-image: linear-gradient(yellow, cyan, magenta);
  float: left;
}
#psy .mrgn{
  margin-right: 2%;
}
#psy .bubble{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: radial-gradient(mintcream, aquamarine, lightseagreen);
}
#psy .circle{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: radial-gradient(lavenderblush, pink, hotpink);
}
#psy .fizz{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: radial-gradient(lavender, plum, blueviolet);
}
#psy .spacer{
  margin-top: 23px;
  margin-left: 5px;
}
}
.break{
  clear: both;
}
body{
  display: flow-root;
}
body.arcade{
  background-color: black;
}
body.lemonade{
  min-height: 100%;
  background-image: linear-gradient(to bottom, yellow, hotpink);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body.gig{
  background-image: linear-gradient(to bottom, white, skyblue, deepskyblue, dodgerblue, hotpink, pink, plum, lavender, white);
  min-height: 100vh;
  background-repeat: no-repeat;
}
body.tile{
  background-color: bisque;
}
body.psy{
  background-image: repeating-radial-gradient(red, yellow, lime, cyan, blue, magenta);
  min-height: 100vh;
  background-attachment: fixed;
}
ol li, h1, h2{
  text-align: center;
}
