body{
  background-color: black;
  margin-left: 30px;
}
body.wbg{
  background-color: white;
}
h1, h2, h3, h4, h5, h6, p, ul li{
  color: white;
}
.wbg{
  color: black;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Press Start 2P', monospace;
}
p, ul li, a{
  font-size: 18px;
  font-family: 'Roboto', sans-sans-serif;
}
a:link{
  color: deeppink;
}
a:active{
 color: magenta;
}
a:hover{
  color: cyan;
}
a:visited{
  color: mediumvioletred;
}
.mobile{
  float: left;
  margin-right: 10px;
}
.desktop{
  margin-top: 10px;
}
.clear{
  clear: both;
}
@media screen and (max-width: 1439px){
  .mobile{
    width: 19%;
  }
  .desktop{
    width: 100%;
  }
}
